/* COMMON STYLES */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
    color: rgb(90, 90, 90);
}
h2 {
    font-size: 35px;
    color: dimgray;
}
h3 {
    font-size: 28px;
    font-weight: bolder;
}
.orange-color {
    color: orange
}
.flexible-container {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 80px;
    padding-top: 50px;
}
.half-width img {
    width: 85%;
}
.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
}

/* TOP SECTION */
.top-banner {
    margin-bottom: 80px;
}

.top-banner p {
    color: #9e9696;
    margin-bottom: 8%;
}


/* ABOUT SECTION */
.about-section {
    margin-bottom: 80px;
}
.about-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-section img {
    width: 48%;
    padding-left: 30%;
}
.about-section p {
    padding-right: 30%;
    margin-bottom: 15%;
    text-align: left;
}

/* RECIPE SECTION */

.recipe-section {
    margin-bottom: 100px;
}

.recipe-title {
    text-align: center;
    margin-bottom: 38px;
}
.recipes {
    margin: 0 10%;
}

.recipe-item {
    width: 50%;
    margin: 0% 1.5%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 30px lightgrey;
}
.recipe-item img {
    width: 100%;
    height: 40%;
}

/* FOOTER */

footer {
    background-color: black;
    padding: 10px;
    height: 250px;
}
footer h3, footer p {
    text-align: center;
    color: white;
}
footer h3 {
    color: dimgray;
}